<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.CRUDFORMSConnectionString"
            connectionString="Data Source=DESKTOP-G89D8ND;Initial Catalog=CRUDFORMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>